tg-web-sidebar {
  .sidebar {
    height: 100%;
    padding: 1rem 0;
    border-right: solid 1px $surface-border;
  }

  .menu-bar {
    padding: 0 2.5rem;
  }

  .menu {
    cursor: pointer;
  }

  .logo {
    width: 3.2rem;
    height: 3.2rem;
  }

  .nav {
    min-width: 15rem;
    max-width: 15rem;
    margin-top: 1.5rem;

    &__item {
      padding: 1rem 2.5rem;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: $surface-hover;
      }

      &.active {
        background-color: $surface-hover;
      }
    }
  }
}
