/* START CENTER */
.t-center {
  text-align: center;
}

//line-height: x;
//height: x;

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.abs-center-container {
  position: relative;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-center {
  margin: 0 auto;
}
/* END CENTER */

/* START SPACING */
.flex-spacer {
  flex-grow: 1;
}

$spacer: 1rem;
$spacer-size: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

@each $size in $spacer-size {
  .p-#{$size} {
    padding: $size * $spacer !important;
  }
  .px-#{$size} {
    padding-left: $size * $spacer !important;
    padding-right: $size * $spacer !important;
  }
  .py-#{$size} {
    padding-top: $size * $spacer !important;
    padding-bottom: $size * $spacer !important;
  }
  .pt-#{$size} {
    padding-top: $size * $spacer !important;
  }
  .pr-#{$size} {
    padding-right: $size * $spacer !important;
  }
  .pb-#{$size} {
    padding-bottom: $size * $spacer !important;
  }
  .pl-#{$size} {
    padding-left: $size * $spacer !important;
  }
  .m-#{$size} {
    margin: $size * $spacer !important;
  }
  .mx-#{$size} {
    margin-left: $size * $spacer !important;
    margin-right: $size * $spacer !important;
  }
  .my-#{$size} {
    margin-top: $size * $spacer !important;
    margin-bottom: $size * $spacer !important;
  }
  .mt-#{$size} {
    margin-top: $size * $spacer !important;
  }
  .mr-#{$size} {
    margin-right: $size * $spacer !important;
  }
  .mb-#{$size} {
    margin-bottom: $size * $spacer !important;
  }
  .ml-#{$size} {
    margin-left: $size * $spacer !important;
  }
}
/* END SPACING */
/* START DISPLAY */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
/* END DISPLAY */
/* START OTHERS */
.clickable {
  cursor: pointer;
}
/* END OTHERS */
